body {
   background-color: yellowgreen;
   color: rgb (18, 86, 18); 
}
   img {
        width:200px;
        height: auto;
        
   }

   p{
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9em;
   }

   .subparrafo{
       font-size: 1.2em;
       color: black;

   }
   #final {
      color: white;
   }